* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-color: #2f1691;
}

/* TOP NAV BAR */
.left-aligned { 
  margin-left: auto; 
}

.top-nav{
  border-bottom: 3PX solid black;
  background-color: #07011B;
  padding: 0;
  height: 60px;
  line-height: 60px;
}

.nav-logo {
  height: 3rem;
}

.navbar-nav .nav-link {
  color: #FDF8BE; 
}

.navbar-nav .nav-link:hover {
  color: #D62923;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-menu a:hover {
  background-color: #FDF8BE;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  color: #07011B;
}

/* CONTENT */

#header-banner-div {
  width: 100;
  height: 70vh;
  background-color: #07011B;
  border-bottom: 3PX solid black;
  color: #fbe395;
  font-size: 2rem;
  line-height: 70vh;
  margin-top: 5rem;
  padding-top: 10rem;
  padding-left: 5rem;
}

#main-div {
  width: 100%;
  display: flex;
}

.clearfix::after {
  content:"";
  display: block;
  clear: both;
}

#sidebar {
  min-height: 800px;
  background-color: black;
  color: #fbe395;
  float: left;
  text-align: center;
  line-height: 800px;
}

#main-content {
  min-height: 800px;
  background-color: #07011B;
  color: #fbe395;
  float: right;
  text-align: center;
  line-height: 800px;
}

@media (max-width: 768px) {
  #sidebar {
      display: none;
  }

  #main-content {
      margin-left: 0;
      width: 100%;
  }
}

@media (min-width: 768px) {
  #sidebar {
      display: block;
      width: 17rem;
  }

  #main-content {
      flex: 1;
  }
}


/* FOOTER */
#page-footer {
  padding: 2%;
  /* background-image: url("img/footer-design.svg"); */
  background-color: #07011B;
  border-top: 3PX solid black;
  color: #fbe395;
}


.footer-logo{
  width: 10rem;
  padding-bottom: 2vh;
}

.social-media{
  width:1.5rem;
  padding: 0.1rem;
}

.fb{
  width: 1.2rem;
}

.socials{
  margin-top: 1rem;
  padding-left: 0.7rem;
}

.nav-title{
  line-height: 10vh;
  text-decoration: none;
  color: #fbe395;
  padding-bottom: 2%;
}

.nav-title:hover {
  line-height: 10vh;
  text-decoration: none;
  color: #D62923;
  padding-bottom: 2%;
}

#footer ul a{
  color: white; 
  text-decoration: none;
  font-weight: 100;
  padding: 0 0rem;
  text-align: left;
}

#footer ul a:hover{
  text-decoration: underline;
  color: #FDF8BE;
}

#footer h3{
  color: #fbe395; 
  text-decoration: none;
  padding: 0 0rem;
  text-align: left;
  font-size: large;
}

#footer .section {
  padding-top: 2vh;
}

.license {
  text-align: center;
}


.white-text {
  color: white;
}

body {
  background: black;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

section h1 {
  font-size: 60px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
}

/* No scroll in x */
body {
  overflow-x: hidden;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-section{
  position: relative;
  min-height: 100vh;
}

.text-overlay {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  text-align: center;
  z-index: 1;
}

.text-overlay h1 {
  font-size: 60px;
  color: white;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.container {
  width: 500px;
  height: 300px;
  margin: 200px auto;
}

/* Glass Effect */
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@media (min-width: 768px) {
  .container-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
    margin: 200px auto;
  }
}

@media (min-width: 1024px) {
  .container-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

